.contactBg {
    background-image: linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    padding: 5rem 0;
}

.contactTitle h2 {
    font-size: 42px;
    font-family: boldfont;
    text-align: center;
    text-transform: capitalize;
}

.contactTitle {
    margin-bottom: 2rem;
}

.contactTitle p {
    text-align: center;
    margin-top: 1rem;
}

.contactFormTitle h4 {
    font-family: boldfont;
    text-transform: capitalize;
    padding-bottom: 1rem;
    border-bottom: 1px solid #cbe0e0;
    margin: 0 0 2rem 0;
}

.contactForm form {
    padding: 3rem;
    border: 1px solid #cbe0e0;
    margin: 2rem 0;
}



.contactFormInput input,
.contactFormInput textarea {
    padding: 12px 20px;
    background-color: transparent !important;
    border-radius: 0;
    outline: none;
    border: 1px solid #cbe0e0;
    width: 100%;
}


.contactFormBtn button {
    background: var(--yellow);
    font-family: inherit;
    padding: 0.6em 5em;
    font-weight: 900;
    font-size: 18px;
    border-radius: 0.4em;
    border-bottom: 5px solid rgb(50, 50, 50);
}


.contactFormBtn button:active {
    transform: translate(0, 0);
    border-bottom: 2px solid rgb(50, 50, 50);
}

@media (min-width: 319.98px) and (max-width: 379.98px) {
    .contactTitle h2 {
        font-size: 22px;
    }

    .contactForm form {
        padding: 1rem;
    }

    .contactFormTitle h4 {
        margin-top: 2rem;
    }
}

@media (min-width: 380px) and (max-width: 424.98px) {
    .contactTitle h2 {
        font-size: 22px;
    }

    .contactForm form {
        padding: 1rem;
    }

    .contactFormTitle h4 {
        margin-top: 2rem;
    }
}

@media (min-width: 425px) and (max-width: 575.98px) {
    .contactTitle h2 {
        font-size: 22px;
    }

    .contactForm form {
        padding: 1rem;
    }

    .contactFormTitle h4 {
        margin-top: 2rem;
    }
}

@media (min-width: 576px) and (max-width: 768.98px) {
    .contactTitle h2 {
        font-size: 22px;
    }

    .contactForm form {
        padding: 1rem;
    }

    .contactFormTitle h4 {
        margin-top: 2rem;
    }
}

@media (min-width: 769px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1023.98px) {}

@media (min-width: 1024px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) and (max-width: 1279.98px) {}

@media (min-width: 1280px) and (max-width: 1299.98px) {}

@media (min-width: 1300px) and (max-width: 1359.98px) {}

@media (min-width: 1360px) and (max-width: 1439.98px) {}

@media (min-width: 1440px) and (max-width: 1536.98px) {}

@media (min-width: 1537px) and (max-width: 1920px) {}